<main class="container-fluid" style="background-color: rgba(216, 216, 216, 0.398);">
    <div >
        <h1 class="pt-3 d-flex justify-content-center text-align-center">A plataforma de desenvolvimento web mais
            utilizada</h1>&nbsp;

        <h3 class="mt-2">O que é o Angular ?</h3> &nbsp;
        <p> <strong>Angular</strong> é um poderoso framework para construção que utiliza HTML, CSS, Javasript
            tipografada em TypeScript para criar a interface com o usuário, ou seja, o front-end em aplicações web,
            desktop e dispositivos móveis, utilizado sempre como uma <strong>SPA</strong> (single page application) em
            suas criações.
        </p>

        <figure class="d-flex justify-content-center">
            <figcaption>
                <img src="../../../assets/imagens/angular-evolution.png" alt="angular-evolution"
                    class=" rounded mx-auto d-block w-75 pb-4 pt-4">
            </figcaption>
        </figure>
        <p>A primeira versão foi lançada em 2010 com o nome Angular JS, mas foi completamente reescrita e em 2016 passou
        a ser chamada Angular 2. Atualmente já encontramos em utilização a versão Angular 12</p>
    </div>
</main>