<div>
    <form #conversorForm="ngForm">
        
        <label for="unidade">Selecione a medida: </label>
        <select #medida name="unidade" id="unidade" [(ngModel)]="conversao.unidade" (change)="onSelect(medida.value)">
            <option *ngFor="let medida of medidas" [value]="medida" >
                {{medida}}
            </option>
        </select>

        <br>

        <label for="from">De: </label>
        <select name="from" id="from" [(ngModel)]="conversao.from" required>
            <option *ngFor="let unidade of unidades" [value]="unidade.sigla" >
                {{unidade.sigla}} - {{unidade.descricao}}
            </option>
        </select>

        <br>

        <label for="to">Para: </label>
        <select name="to" id="to" [(ngModel)]="conversao.to" required>
            <option *ngFor="let unidade of unidades" [value]="unidade.sigla" >
                {{unidade.sigla}} - {{unidade.descricao}}
            </option>
        </select>

        <br>

        <label for="valor">Valor: </label>
        <input type="text" name="valor" [(ngModel)]="conversao.valor" required>

        <br>

        <input type="submit"  class="btn btn-primary my-4" (click)="converter()" data-target="#modalResult" data-toggle="modal"
        [disabled]="!conversorForm.form.valid">

    </form>
   <app-modal-result
   [id]="'modalResult'"
   [conversaoResponse]="conversaoResponse"
   [conversao]="conversao"
   (onConfirm)="init()">
       
   </app-modal-result>
</div>


