body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #938bda;
    background: -moz-linear-gradient(60deg, #938bda 0%, #c86dd7 100%);
    background: -webkit-linear-gradient(60deg, #938bda 0%, #c86dd7 100%);
    background: linear-gradient(60deg, #938bda 0%, #c86dd7 100%);
    /* filter: prodig: DXImageTransform.Microsoft.gradient(startColorstr='#938bda') */
  }
  
  button{
    cursor: pointer;
  }
  
  li{
    padding: 15px;
    margin: 10px;
    font-size: 1em;
    font-style: inherit;
    border-bottom: 2px solid rgba(0,0,0,0.2); ;
  }
  
  li>button{
    border: none;
    background-color: #fff;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 1s;
  }
  
  li>button:hover{
    opacity: 1;
    transition: opacity 1s;
  
  }
  
  .title{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 5em;
    text-shadow: 3px 5px #3c28f0;
  }
  
  .text-center{
    text-align: center;
  }
  
  .button{
    background-color: #3c28f0;
    border: none;
    padding: 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 1em;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  #modal{
    text-align: left;
    margin: 10px;
    padding: 10px;
    background: #fff ;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);;
  }
  
  input{
    width: 100%;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2em;
    border: none;
  }
  
  .danger{
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
  }
  
  ul {
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);;
  
  }
  
  
  .example-spacer {
    flex: 1 1 auto;
  }