<main style="background-color: rgba(216, 216, 216, 0.398);">
    <div class="container-fluid">
        <h1>Mais informações</h1> &nbsp;

        <p> Por se tratar de um framework tão diverso e usado mundialmente por empresas de enorme porte como Google,
            YouTube, PayPal, Udemy, Nike e outras, a procura por sua aprendizagem é enorme.</p> &nbsp;

        <div class="row d-flex" style="padding-left: 8vw;">

            <div class="col-5 d-flex justify-content-center align-items-center ">
                <p>Visto essa necessidade de conhecimento em Angular, hoje podemos encontrar diversos meios para
                    desenvolver
                    seu conhecimento em Angula como o de Loiane Groner ou até mesmo
                    sua <a href="https://loiane.training/" target="_blank"> WebPage</a> onde você encontrará um curso
                    completo e atualizado sobre Angular que o auxiliará no aprofundamento dessa tecnologia tão
                    necessário hoje no mundo Web de desenvolvimento.
                </p>
            </div> &nbsp;

            <div class="col-5">
                <a href="https://www.youtube.com/watch?v=tPOMG0D57S0&list=PLGxZ4Rq3BOBoSRcKWEdQACbUCNWLczg2G"> <iframe width="460" height="215" src="https://www.youtube.com/embed/tPOMG0D57S0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </a>
            </div>
        </div>

        <div class="row d-flex" style="padding-left: 8vw;">

            <div class="col-5 align-items-center pt-5">
                <a href="https://soulcodeacademy.org/index.html" target="_blank"> <img
                src="../../../assets/imagens/soulcode-logo.png" alt="" style="width: 35vw;"></a>
            </div>

            <div class="col-5 d-flex justify-content-center align-items-center">
                <p> Outra maneira de aprender Angular é através de formas de ensino que vêem se tornando cada vez mais populares como escolas que promovem Bootcamps. Uma das mais difundidas no mercado brasileiro atualmente é a SoulCode Academy, onde você poderá, através do seu curso, aprender funcionalidades necessárias para seu desenvolvimento que englobará também, aulas ao vivo sdobre Angular, onde você poderá desenvolver projetos reais com seu conhecimento adquirido </p>
            </div> 
        </div> &nbsp;

        <div>
            <p> Outros meios de aprendizado é através de sites criados pela comunidade de developers para disponização de projetos criados por diversos desenvolvedores com compartilhamento de códigos para estudo, assim como suporte em dúvidas quando existentes e pesquisas para resolução de seus problemas.</p> &nbsp;

            <p> Sites como o GitHub <a href="https://github.com/" target="_blank"> <img src="../../../assets/imagens/placa-do-github.png" alt="" width="25vw"> </a>  poderão te auxiliar na verificação de projetos já existentes e conhecimento de códigos. </p> &nbsp;

            <p> Sites como StackOverflow <a href="https://pt.stackoverflow.com/" target="_blank"> <img src="../../../assets/imagens/stackoverflow.png" alt="" width="120vw"> </a> onde você poderá verificar dúvidas já existentes com auxilio de inúmeros outros
                desenvolvedores que de maneira gratuita e voluntária, poderão te ajudar no momento de debugação de
                códigos e aprendizado de funcionalidades que talvez você ainda não tenha visto em uma das opções citadas
                acima.</p> &nbsp;

            <p> E o próprio site oficial do Angular <a href="https://angular.io/" target="_blank"> <img src="../../../assets/imagens/img-angular.png" alt="" width="50vw"> </a> onde você poderá encontrar toda sua documentação para leitura e
                aprendizado durante seu processo de estudo em Angular.</p> &nbsp;
        </div>

        <div>
            <p> O Angular, é atualmente, o principal framework para aprendizado caso você queira iniciar sua tragetória
                no mundo Tech. Seu conhecimento se torna fundamental em algum momento de sua carreira, sem falar que é
                uma ferramenta divertida de se usar, quando se passa a entendê-la por completo.</p>
        </div>

    </div>
</main>